/*
App Name: OPP App
Theme URI: https://opp-app.herokuapp.com
Description: Built for the OPP
Author: PAMP Solutions
Version: 1.0.0
*/

/* GLOBAL */
body {font-family: 'Verdana', sans-serif;}
html {background:rgb(244,206,21);}
.center {text-align: center; margin:0 auto;}

#login .login-btn input, a {transition: all 0.3s ease;}
#login .btn input, #login input, .login-error {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

/* header */
header a:hover {color:rgb(0,0,0)}
#logo {width:150px; margin: 10px 0 0 25px;}
.search {margin-left:20px; font-weight:700;}

/* footer */

/* #login */
#login {background: url('/img/login-bg.jpg') no-repeat; padding:10% 0; background-position: 50% 70%;}
#login a {color:#FFF!important; text-shadow:1px 1px 1px #000;}
#login i {color:#dfc138; top: 13px; padding-left: 10px; font-size:40px;}
#login .row {margin-bottom:0!important;}
#login .form {width: 500px; margin: 10px auto;}
#login .logo img {margin:0 auto; width:200px;}
#login .input-field input {background: rgba(0, 0, 0, 0.8)!important; margin-left:0!important; padding:10px 0 10px 65px; color:#dfc138; font-weight: 700; font-size: 20px;}
#login .input-field label {font-size:1.3rem; top:1.2rem; left:2rem; text-transform: uppercase; font-weight: 700;}
#login .input-field label.active {transform: translateY(-200%)!important;}
#login .input-field .prefix ~ label.active {margin-left:0!important; text-transform: uppercase; font-size: 14px!important; color: rgba(255, 255, 255, 0.5)!important;font-weight: 700;}
#login .btn {text-align:center; width:100%; background: none!important; box-shadow:none!important; height:100%!important;}
#login .login-btn {background: #dfc138!important; text-align:center; padding:20px 40px; margin: 10px 0 0 10px; border:5px solid rgba(0, 0, 0, 0.7); font-size: 20px; font-weight: 700; letter-spacing: 2px; color: #343434;}
#login .login-btn:hover {border:5px solid rgba(0, 0, 0, 1); background: #fff!important;}
#login input[type=text]:focus:not([readonly]), #login input[type=password]:focus:not([readonly]), #login input[type=text].valid, #login input[type=password].valid {border-bottom:5px solid #dfc138!important; box-shadow:0 1px 0 0 #dfc138!important;}
#login input[type=text]:focus:not([readonly])+label, #login input[type=password]:focus:not([readonly])+label {color: rgba(255, 255, 255, 0.5)!important;font-weight: 700;}
#login input[type=text], #login input[type=password] {border-bottom:0!important; box-shadow:0!important;}

#loginTerms {margin:0 0 30px!important; left:20px!important;}
#loginTerms label {color:#000!important; font-size:16px!important; line-height:1.2em; left:0!important;}
#loginTerms [type="checkbox"].filled-in:checked+label:after {border: 2px solid #dfc138; background-color: #dfc138;}
#loginTerms [type="checkbox"]:checked+label:before {border-right: 2px solid #fff; border-bottom: 2px solid #fff;}
#loginTerms [type="checkbox"].filled-in:not(:checked)+label:after {border: 3px solid #dfc138;}

.login-error {background:rgba(171, 44, 4, 0.8); padding:15px; text-align: right; color:rgba(255, 255, 255, 0.8); font-weight: 700; width: 104%; margin-bottom:20px;}
.login-error i {color:#FFF!important; font-size:30px!important; margin-top: -4px}

#loginForgot {text-align: center; padding-top:50px;}
#loginForgot a {font-size:16px;}

/* Dashboard */
table {background:white; margin-top:20px; border-radius:10px}
td {word-wrap:break-word}
td a.btn {font-size:0.8rem; position:relative}
td a.btn-floating {width:29px; height:29px; line-height:29px}

#box {height:30px; border-radius:6px; color:black; background:white}
#align {margin-left:-10px; color:white}
#align:hover {color:rgb(244,206,21)}
.size {width:90px}
.btn-floating i {width:inherit; display:inline-block; text-align:left; color:#fff; font-size:1.3rem; line-height:29px}

/* Responsive */
.mobile-logo {height:100px; width:100px; margin-top:10px; margin-right:30px}

@media only screen and (max-width:993px){
  #logo {display:none}
  table {font-size:0.85rem}
}
